log/*
screenlog.*
*.log
tmp/**/*
tmp/*
.dotest/
.dotest/*.
tmp/.*
tmp/*
tmp/profile*
.DS_Store
doc/plugins
doc/api
doc/app
doc/*.doc
doc/*.zip
config/initializers/session_secret.rb
db/*.sqlite3*
public/stylesheets/*.css
!public/stylesheets/reset.css
public/javascripts/all.js
public/system
uuid.state
nbproject*
index/*
identifier
secret
last_run
.project
.conductor
.conductor/*
.conductor/**/*
.*.sw?
.#*
\#*
*~
vendor/**/**/doc/*
vendor/plugins/footnotes/*
rsa_key*
public/stylesheets/screen.css
system/datas/*
sqldumps/*
config/environments/test_*.rb
capybara*.html
.bundle
.bundle/*
public/sitemap.xml
scratch_directory/*
